@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body{
    box-sizing: inherit;
    background-color: #F9F9F9;
    margin-left: 0;
    font-family: 'Poppins', sans-serif;
}
.logo-div{
    display: flex;
    align-items: center;
}
.lni-menu{
    margin-left: 1rem;
}

.side_nav{
    width: 20%;
    background-color: #fff;
    border-right: 1px solid #969BA0;
    /* height: 100vh; */
    margin: 0rem 1rem;
    padding: 0 1rem;
}
.side_nav ul li{
    list-style-type: none;
    margin: 1.5rem 0em; 
    
}
.side_nav li a{
    text-decoration: none;
    color: #969BA0;
    margin-left: 1rem;
}
li a:hover{
    color: #2F4CDD;
}
.side_nav  ul li:hover{
    background-color:#E7EEFF ;
    border-left: 3px solid #2F4CDD;
    padding: 1rem 0rem;
    margin: 0rem 0 0 -1rem;
}
.dropdown{
    height: auto;
}

ul li p {
    /* visibility: hidden; */
    display: none;
    /* position: absolute; */
    transform: all .5s ease;
    opacity: 0;

}

ul li:hover > ul,
  li div p:hover{
    margin-left: 1rem;
    opacity: 1;
    display:block;
    
}


div .add_menus{
    width: 15.3rem;
    height: 11.8rem;
    border-radius:26px ;
    background:linear-gradient(198deg,#2F4CDD,#D45BFF) ;
    margin-top: 5rem;
    text-align: center;
}
.menu-img{
    margin-top: -3rem;
    margin-bottom: 1rem;
}
.add_menus button{
    width: 12.3rem;
    height: 3.8rem;
    border-radius: 8px;
    border: none;
    margin-top: .5rem;
}
nav{
  display: flex;
  background-color: #fff;
  margin-left: 0rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}
.header_navbar{
    display: flex;
    align-items: center;
}

#search{
    width: 30rem;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    text-indent: 1rem;
     margin-left: .2rem;
}
.lni-search-alt{
    position: relative;
    left: -2rem;
}
ol li a{
    text-decoration: none;
}

ol li{
    list-style-type: none;
    display: inline;
    margin: 0rem 1rem;
}
div.split{
    display: flex;
}
div.main-body{
    margin: 1rem 1rem;
}
div.dash{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.dash p{
    color: #969BA0;
}
div.filter{
    background-color: #E7EEFF;
    padding: .5rem;
}
div.filter input{
    border: none;
    background: #E7EEFF;
    color: #2F4CDD;
}
div.first-cards{
    display: grid;
    grid-template: 1fr / repeat(4,1fr);
    column-gap: 20px;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0 rgb(161, 159, 159);
    padding: 1rem .5rem;
}
span.card-icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #E7EEFF ;
}
.card-icon img{
    display: block;
    margin:1rem auto;
}
.manage-dash{
    background-color: #3E4954;
    width: 18rem;
    height: 20rem;
    border-radius: 20px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left >*{
    margin-top: .5rem;
}
.lni-arrow-right{
    margin-top: 2rem;
}

.chart{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.upper-chart{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0 rgb(161, 159, 159);
    width: 70%;
    height: 20rem;
}
.chart-head{
display: flex;
justify-content: space-between;
margin: 1rem;
}
.chart-head .list{
    background-color: #F4F5F9;
    text-align: center;
    margin: .1rem 0;
    padding: 1rem 0;
    cursor: pointer;
}
.chart-head .list li:hover{
    background-color: #fff;
    padding: 1rem 0.5rem;
}
.middle-chart{
    display: grid;
    grid-template: 1fr/ repeat(2,1fr);
    column-gap: 20px;
    margin-top: 2rem;
}
.left-chart,.right-chart{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0 rgb(161, 159, 159);
}
div.new-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #E9FFEF;
    padding: 1rem 0;
    margin: 1rem;
}
.new-order-tab ,.manage{
    display: flex;
}
.new-order-tab button{
    background-color: #2BC155;
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
   margin-left: .5rem;
}
.new-order-tab p{
    margin: .5rem ;
}
.donut-chart img{
    width: 60%;
}
.donut-chart{
    text-align: center;
}
p,li{
    font-size: 12px;
}
div.small-cards{
    display: grid;
    grid-template: 1fr/repeat(3,1fr);
    column-gap: 10px;
    margin: 1rem;
}
.small-cards div{
    border: 1px solid #F2F2F2;
    padding: 1rem 1rem;
    
}
#dropdown{
    background-color: #E7EEFF;
    border: none;
    border-radius: 5px;
    padding: .5rem;
}
